<h1 align=center><font size = 5>Capstone Project</font></h1>

In [2]:
import pandas as pd 
import numpy as np

In [3]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [4]:
df = pd.read_csv('Data-Collisions.csv')
df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [5]:
df.columns
df_needed = df[['SEVERITYCODE','PERSONCOUNT','VEHCOUNT', 'JUNCTIONTYPE', 'WEATHER', 'ROADCOND', 'LIGHTCOND']]
df_needed.head()

,SEVERITYCODE,PERSONCOUNT,VEHCOUNT,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND
0,2,2,2,At Intersection (intersection related),Overcast,Wet,Daylight
1,1,2,2,Mid-Block (not related to intersection),Raining,Wet,Dark - Street Lights On
2,1,4,3,Mid-Block (not related to intersection),Overcast,Dry,Daylight
3,1,3,3,Mid-Block (not related to intersection),Clear,Dry,Daylight
4,2,2,2,At Intersection (intersection related),Raining,Wet,Daylight

In [6]:
df_needed = df_needed.dropna()
df_needed
print(df_needed.JUNCTIONTYPE.unique())
print(df_needed.WEATHER.unique())
print(df_needed.ROADCOND.unique())
print(df_needed.LIGHTCOND.unique())

['At Intersection (intersection related)'
 'Mid-Block (not related to intersection)' 'Driveway Junction'
 'Mid-Block (but intersection related)'
 'At Intersection (but not related to intersection)' 'Unknown'
 'Ramp Junction']
['Overcast' 'Raining' 'Clear' 'Unknown' 'Other' 'Snowing' 'Fog/Smog/Smoke'
 'Sleet/Hail/Freezing Rain' 'Blowing Sand/Dirt' 'Severe Crosswind'
 'Partly Cloudy']
['Wet' 'Dry' 'Unknown' 'Snow/Slush' 'Ice' 'Other' 'Sand/Mud/Dirt'
 'Standing Water' 'Oil']
['Daylight' 'Dark - Street Lights On' 'Dark - No Street Lights' 'Unknown'
 'Dusk' 'Dawn' 'Dark - Street Lights Off' 'Other'
 'Dark - Unknown Lighting']

In [7]:
df_needed['JUNCTIONTYPE'] = df_needed['JUNCTIONTYPE'].astype('category')
df_needed['JUNCTIONTYPE'] = df_needed['JUNCTIONTYPE'].cat.codes
df_needed

,SEVERITYCODE,PERSONCOUNT,VEHCOUNT,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND
0,2,2,2,1,Overcast,Wet,Daylight
1,1,2,2,4,Raining,Wet,Dark - Street Lights On
2,1,4,3,4,Overcast,Dry,Daylight
3,1,3,3,4,Clear,Dry,Daylight
4,2,2,2,1,Raining,Wet,Daylight
...,...,...,...,...,...,...,...
194668,2,3,2,4,Clear,Dry,Daylight
194669,1,2,2,4,Raining,Wet,Daylight
194670,2,3,2,1,Clear,Dry,Daylight
194671,2,2,1,1,Clear,Dry,Dusk
194672,1,2,2,4,Clear,Wet,Daylight

In [8]:
df_needed['WEATHER'] = df_needed['WEATHER'].astype('category')
df_needed['WEATHER'] = df_needed['WEATHER'].cat.codes
df_needed['ROADCOND'] = df_needed['ROADCOND'].astype('category')
df_needed['ROADCOND'] = df_needed['ROADCOND'].cat.codes
df_needed['LIGHTCOND'] = df_needed['LIGHTCOND'].astype('category')
df_needed['LIGHTCOND'] = df_needed['LIGHTCOND'].cat.codes
df_needed

,SEVERITYCODE,PERSONCOUNT,VEHCOUNT,JUNCTIONTYPE,WEATHER,ROADCOND,LIGHTCOND
0,2,2,2,1,4,8,5
1,1,2,2,4,6,8,2
2,1,4,3,4,4,0,5
3,1,3,3,4,1,0,5
4,2,2,2,1,6,8,5
...,...,...,...,...,...,...,...
194668,2,3,2,4,1,0,5
194669,1,2,2,4,6,8,5
194670,2,3,2,1,1,0,5
194671,2,2,1,1,1,0,6
194672,1,2,2,4,1,8,5

In [9]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import tree
y_data = df_needed['SEVERITYCODE'].values
x_data = df_needed.drop('SEVERITYCODE', axis=1).values
x_data = preprocessing.StandardScaler().fit(x_data).transform(x_data.astype(float))
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.20, random_state=1)
print("number of test samples :", x_test.shape[0])
print("number of training samples:",x_train.shape[0])

number of test samples : 36640
number of training samples: 146556

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [12]:
from sklearn import metrics
clf = tree.DecisionTreeClassifier(criterion="entropy", max_depth = 5)
clf.fit(x_train,y_train)
predTree = clf.predict(x_test)
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_test, predTree))

DecisionTrees's Accuracy:  0.7401200873362446

In [13]:
import pydotplus
import collections
data_feature_names = ['PERSONCOUNT','VEHCOUNT', 'JUNCTIONTYPE', 'WEATHER', 'ROADCOND', 'LIGHTCOND']
dot_data = tree.export_graphviz(clf,
                                feature_names=data_feature_names,
                                out_file=None,
                                filled=True,
                                rounded=True)
graph = pydotplus.graph_from_dot_data(dot_data)

colors = ('turquoise', 'orange')
edges = collections.defaultdict(list)

for edge in graph.get_edge_list():
    edges[edge.get_source()].append(int(edge.get_destination()))

for edge in edges:
    edges[edge].sort()    
    for i in range(2):
        dest = graph.get_node(str(edges[edge][i]))[0]
        dest.set_fillcolor(colors[i])

graph.write_png('tree.png')

True